services:

  baza:
    image: ghcr.io/giper-dev/baza:master
    environment:
      DOMAIN: ${DOMAIN}
    logging:
      driver: "local"
    volumes:
      - baza_public:/giper/baza/.baza
      - baza_private:/root/.local/share/mol_state_local
    restart: unless-stopped
    network_mode: host
    labels:
      caddy: ${DOMAIN}
      caddy.encode: zstd gzip
      caddy.reverse_proxy: ":9090"

  caddy:
    image: lucaslorentz/caddy-docker-proxy:2.3
    logging:
      driver: "local"
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - caddy_private:/data
    restart: unless-stopped
    deploy:
      placement:
        constraints:
          - node.role == manager
      replicas: 1
      restart_policy:
        condition: any

  watchtower:
    image: containrrr/watchtower
    logging:
      driver: "local"
    command: --interval 60
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
    restart: unless-stopped

volumes:
  baza_public:
  baza_private:
  caddy_private:
