name: docker_image

on:
  workflow_dispatch:
  push:
  pull_request:
    types:
      - closed
  schedule:
  - cron: "0 7 * * *"

jobs:
  build_docker:
    runs-on: ubuntu-latest
    steps:
    - uses: GlueOps/github-actions-build-push-containers@v0.4.5
      with:
        dockerfile: 'docker/Dockerfile'
        # image_name: 'giper-dev/baza'
        # tags: 'latest'
